torch
numpy
gin-config
transformers
datasets==2.10.0
evaluate==0.4.1
sentencepiece
protobuf==3.17.3
promptsource
scikit-learn
wandb
tensorboardx
chardet
cchardet
nltk
absl-py
rouge-score
sentence-transformers
bert_score
num2words
