torch
numpy
gin-config
transformers
datasets==3.1.0
evaluate==0.4.3
sentencepiece
protobuf==3.17.3
promptsource
scikit-learn
wandb
tensorboardx
chardet
cchardet
nltk
absl-py
rouge-score
sentence-transformers
bert_score
num2words
